@model Medico

@{
    ViewData["Title"] = "Cadastrar";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/cadastrarMedico.css" asp-append-version="true" />
</head>
<body>


@if (TempData["msg"] != null)
{
    <div class="alert alert-success">
        @TempData["msg"]
    </div>
}

<form asp-action="cadastrar">
        <h1>Cadastro de médicos</h1>
        <p>O cuidado com a saúde é a base sólida que sustenta uma vida plena e realizadora!</p>
    <partial name="_Formulario" />
        <div id="alinhar">
            <button class="botao">CADASTRAR</button>
        </div>

</form>

</body>
</html>