@model Medicamento

<div class="campos">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" type="text" size="37" maxlength="130" required autocomplete="off" />


    <label asp-for="Dosagem"></label>
    <input asp-for="Dosagem" type="text" size="39" maxlength="30" required autocomplete="off" />
</div>

<div class="campos">
    <label asp-for="Frequencia">Frequência</label>
    <input asp-for="Frequencia" type="text" size="30" maxlength="130" required autocomplete="off" />


    <label asp-for="Paciente"></label>
    <select class="form-select" asp-for="PacienteId" asp-items="@ViewBag.paciente">
        <option>Selecione</option>
    </select>
</div>

<fieldset>
    <div class="mb-3">
        <label asp-for="EfeitoColateral.Efeito">Efeito Colateral</label>
        <input asp-for="EfeitoColateral.Efeito" class="form-control" type="text" cols="40" rows="10" maxlength="2000" required autocomplete="off" />
    </div>
</fieldset>
