@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
<body>

    <div id="cabecalho">
    <h1>FollowCare</h1>
    <div id="mensagem">
        <h2>Cuidando da Sua Saúde de Forma Personalizada</h2>
    </div>
    </div>

    <div id ="container">
        <div id="texto">
        <p>
            O FollowCare é mais que um aplicativo, é uma ferramenta dedicada a proporcionar um acompanhamento detalhado e personalizado para pacientes com doenças mais graves. Com a missão de promover uma gestão eficaz da saúde, o aplicativo permite que os usuários registrem diariamente os medicamentos tomados, indicando horários precisos e detalhando eventuais efeitos colaterais.
       A abordagem inovadora do FollowCare não se limita ao registro de medicamentos; o aplicativo oferece uma plataforma de agendamento de consultas médicas integrada. Os usuários podem marcar facilmente consultas com seus profissionais de saúde, garantindo um acompanhamento contínuo e personalizado de sua condição.
        
            A interface intuitiva e amigável do FollowCare torna a gestão da saúde acessível a todos. Com o FollowCare, a comunicação entre paciente e profissional de saúde é fortalecida. A segurança e privacidade dos dados são prioridades, garantindo que os usuários se sintam confiantes ao compartilhar informações importantes sobre sua saúde.
       
            Em resumo, o FollowCare não é apenas um aplicativo de registro, mas um aliado essencial na jornada de cuidados de saúde. Ao unir praticidade, tecnologia e atenção personalizada, o FollowCare está moldando o futuro do autocuidado e do acompanhamento médico, oferecendo uma solução inovadora para aqueles que enfrentam desafios de saúde mais complexos.
        </div>

        <div id="imagem">
        <img src="./img/foto.png" />
        </div>
    </div>
    
    

</body>
</html>